.note1p_c, .note1p_d, .note1p_e, .note1p_f, .note1p_g, .note1p_a, .note1p_b, .note2p_c, .note2p_d, .note2p_e, .note2p_f, .note2p_g, .note2p_a, .note2p_b, .note3p_c, .note3p_d, .note3p_e, .note3p_f, .note3p_g, .note3p_a, .note3p_b, .note1bp_c, .note1bp_d, .note1bp_f, .note1bp_g, .note1bp_a, .note2bp_c, .note2bp_d, .note2bp_f, .note2bp_g, .note2bp_a, .note3bp_c, .note3bp_d, .note3bp_f, .note3bp_g, .note3bp_a {
    display: none;
}
body {
    position: relative;
    width: auto;
}
ul, li {
    float: left;
    list-style: none outside none;
    padding: 0;
}


h1 {
position: relative;
left: 560px; 
}

#container {
    background-image: url("images/bg.png");
    background-position: 0 286px;
    background-repeat: repeat-x;
	width:1500px;
}


#descripition{
	width:300px;
	height:150px;
	background-color:#6F9;
	position:absolute;
	left:800px;
	z-index:999;
}

#music {
    margin: 0 0 0 250px;
    position: absolute;
    top: 478px;
    width: auto;
}

#piano {
    background-image: url("images/keyboard.png");
    height: 400px;
    left: 202px;
    margin-bottom: 100px;
    position: relative;
    top: 103px;
    width: 870px;
}
#music_sheet {
    position: relative;
}
#music_sheet #notes img {
    margin: -58px 0 32px 222px;
    position: relative;
    top: 87px;
    width: 836px;
}
#music_notes {
    left: 170px;
    margin: 0 17px 0 120px;
    position: relative;
}
.note1_c {
    margin-top: 159px;
}
.note1_d {
    margin-top: 155px;
}
.note1_e {
    margin-top: 152px;
}
.note1_f {
    margin-top: 149px;
}
.note1_g {
    margin-top: 145px;
}
.note1_a {
    margin-top: 140px;
}
.note1_b {
    margin-top: 136px;
}
.note2_c {
    margin-top: 122px;
}
.note2_d {
    margin-top: 100px;
}
.note2_e {
    margin-top: 95px;
}
.note2_f {
    margin-top: 91px;
}
.note2_g {
    margin-top: 87px;
}
.note2_a {
    margin-top: 83px;
}
.note2_b {
    height: 34px;
    margin-top: 80px;
}
.note3_c {
    margin-top: 77px;
}
.note3_d {
    margin-top: 74px;
}
.note3_e {
    margin-top: 70px;
}
.note3_f {
    margin-top: 67px;
}
.note3_g {
    margin-top: 63px;
}
.note3_a {
    margin-top: 58px;
}
.note3_b {
    margin-top: 54px;
}
#music_notes li {
    width: 36px;
}
#note_pressed {
    left: 171px;
    position: relative;
}
#music_notes img {
    position: relative;
    top: -150px;
}
#music_notes .note1_c {
    position: relative;
}
#white_keys {
    margin: 0;
    padding: 0;
}
#note_pressed {
    position: relative;
    top: -100px;
}
.note1p_c {
    margin-left: -757px;
    margin-top: 109px;
}
.note1p_d {
    margin-left: -721px;
    margin-top: 105px;
}
.note1p_e {
    margin-left: -685px;
    margin-top: 102px;
}
.note1p_f {
    margin-left: -649px;
    margin-top: 99px;
}
.note1p_g {
    margin-left: -613px;
    margin-top: 95px;
}
.note1p_a {
    margin-left: -577px;
    margin-top: 90px;
}
.note1p_b {
    margin-left: -541px;
    margin-top: 86px;
}
.note2p_c {
    margin-left: -504px;
    margin-top: 72px;
}
.note2p_d {
    margin-left: -469px;
    margin-top: 50px;
}
.note2p_e {
    margin-left: -433px;
    margin-top: 45px;
}
.note2p_f {
    margin-left: -397px;
    margin-top: 41px;
}
.note2p_g {
    margin-left: -361px;
    margin-top: 37px;
}
.note2p_a {
    margin-left: -325px;
    margin-top: 33px;
}
.note2p_b {
    height: 34px;
    margin-left: -289px;
    margin-top: 30px;
}
.note3p_c {
    margin-left: -253px;
    margin-top: 27px;
}
.note3p_d {
    margin-left: -217px;
    margin-top: 24px;
}
.note3p_e {
    margin-left: -181px;
    margin-top: 21px;
}
.note3p_f {
    margin-left: -145px;
    margin-top: 17px;
}
.note3p_g {
    margin-left: -109px;
    margin-top: 13px;
}
.note3p_a {
    margin-left: -73px;
    margin-top: 8px;
}
.note3p_b {
    margin-left: -37px;
    margin-top: 4px;
}
.note1bp_c {
    margin-left: -757px;
    margin-top: 110px;
}
.note1bp_d {
    margin-left: -721px;
    margin-top: 105px;
}
.note1bp_f {
    margin-left: -649px;
    margin-top: 99px;
}
.note1bp_g {
    margin-left: -613px;
    margin-top: 95px;
}
.note1bp_a {
    margin-left: -541px;
    margin-top: 86px;
}
.note2bp_c {
    margin-left: -501px;
    margin-top: 72px;
}
.note2bp_d {
    margin-left: -469px;
    margin-top: 50px;
}
.note2bp_f {
    margin-left: -397px;
    margin-top: 41px;
}
.note2bp_g {
    margin-left: -361px;
    margin-top: 37px;
}
.note2bp_a {
    margin-left: -325px;
    margin-top: 34px;
}
.note3bp_c {
    margin-left: -254px;
    margin-top: 27px;
}
.note3bp_d {
    margin-left: -218px;
    margin-top: 23px;
}
.note3bp_f {
    margin-left: -145px;
    margin-top: 16px;
}
.note3bp_g {
    margin-left: -109px;
    margin-top: 13px;
}
.note3bp_a {
    margin-left: -70px;
    margin-top: 8px;
}
#black_keys_cd_octave1 {
    left: 10px;
    position: absolute;
    top: 16px;
}
#black_keys_fgb_octave1 {
    left: 122px;
    position: absolute;
    top: 16px;
}
#black_keys_cd_octave2 {
    left: 270px;
    position: absolute;
    top: 16px;
}
#black_keys_fgb_octave2 {
    left: 380px;
    position: absolute;
    top: 16px;
}
#black_keys_cd_octave3 {
    left: 530px;
    position: absolute;
    top: 16px;
}
#black_keys_fgb_octave3 {
    left: 640px;
    position: absolute;
    top: 16px;
}
#memo img {
    left: 10px;
    position: absolute;
    top: 140px;
    width: 760px;
}
#black_memo img {
    position: absolute;
    width: 726px;
}
.black_major {
    left: 25px;
    top: 50px;
    z-index: 100;
}
.black_minor {
    left: 25px;
    top: 70px;
    z-index: 100;
}
#notes_pressed {
    left: -750px;
    position: relative;
    top: -150px;
}
#black_keys ul, #black_keys li {
    margin: 0 11px 0 8px;
}
#memo-on {
    position: relative;
    top: -280px;
    left: 436px;
}
#memo-off {
    position: relative;
    top: -259px;
    left: 287px;
}

#memo-turn-on{
	display:none;
	}


